footer {
    position: absolute;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    max-width: none;
    min-height: 100px;
    bottom: 0;
    left: 0;
    padding: 20px 0;

    .logo {
        width: 90px;
        margin-top: 20px;
        margin-bottom: 10px;
        filter: brightness(0) invert(1);
    }

    p {
        font-size: 20px;
    }
}