.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .logo-container {
      margin-top: 20px;
  
      img {
        max-width: 70%;
        height: auto;
      }
    }
  
    .nav-links {
      a {
        text-decoration: none;
        color: $main-color;
        font-size: 20px;

        &:not(:last-child) {
          margin-right: 60px;
        }
  
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
  