@import '__Variables.scss';

header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    min-width: 280px;
    height: clamp(40vh, 60vh, 40vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 0, 0.700);
    border: 5mm ridge #4f71a2;
    border-radius: 10px;
    animation: BluePulse 5s infinite;

    p {
        font-family: $font-morris-roman-black;
        color: #FCDC12;
        font-size: clamp(2.5vh, 2vw, 2vw);
        margin-bottom: 10px;    
    }

    img {
        width: 80%;
        margin-bottom: clamp( 10px, 2vh , 2vh) ;


        /*@media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
            margin-bottom: 10px;
        }

        @media (max-width: 768px) and (max-height: 860px) {
            margin-bottom: 10px;
            
        }*/
    }

    nav {

        /*@media (max-width: 768px) and (max-height: 860px) {
            height: 100%;
            max-height: 310px;
        }*/
        
        .header-container {
            align-items: center;
            height: clamp(100%, 10vh, 10vh);
            text-align: center;
            //min-height: 200px;

            /*@media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
                height: 50vh;
                min-height: 400px;
                min-width: 100%;
                width: 30%;
                align-items: center;
            }*/

            .nav-links {
                display: flex;
                flex-direction: column;
                align-items: center;

                .button {
                    position: relative;
                    display: block;
                    color: black;
                    text-shadow: 0px 1px 0px #000;
                    font-family: $font-morris-roman-black;
                    font-weight: bold;
                    font-size: clamp(20px, 1.6vw, 1.6vw);
                    text-align: center;
                    text-decoration: none;
                    background-color: #7189ac;
                    min-width: 70%;
                    max-width: 170px;
                    max-height: 250px;
                    padding: 15px;
                    margin: 0.5vh;
                    cursor: pointer;

                    /*@media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
                        margin: 10px;
                    }

                    @media (max-width: 768px) and (max-height: 860px) {
                        margin: 10px;
                    }

                    @media (max-width: 768px) and (max-height: 860px) {
                        font-size: 20px;
                    }*/

                    &:hover {
                        background-color: #4f71a2;
                    }

                    &:active {
                        top: 10px;
                        background-color: #4f71a2;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        padding: 4px;
                        bottom: -15px;
                        left: -4px;
                        z-index: -1;
                    }
                }
            }
        }
    }
}