@import '__Variables.scss';

header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    min-width: 400px;
    max-width: 50%;
    height: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 0, 0.700);
    border: 5mm ridge #4f71a2;
    border-radius: 10px;
    animation: BluePulse 5s infinite;

    @media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
        max-width: 380px;
        width: 50%;
        height: 40vh;
        min-height: 400px;
    }

    @media (max-width: 768px) {
        min-width: 380px;
        width: 50%;
        height: 50vh;
        min-height: 400px;
    }

    @media (max-width: 425px) {
        min-width: 350px;
    }

    @media (max-width: 768px) and (max-height: 860px) {
        min-width: 250px;
        max-height: 200px;
        min-height: 350px;
    }

    p {
        font-family: $font-morris-roman-black;
        color: #FCDC12;
        font-size: 40px;
        margin-bottom: 10px;    
        @media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
            margin-top: 30px;
        }
        @media (max-width: 768px) and (max-height: 860px) {
            margin: 0 auto 10px auto;
            font-size: 35px;
            width: 70%;
        }
    }

    img {
        width: 80%;
        margin-bottom: 50px;


        @media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
            margin-bottom: 10px;
        }

        @media (max-width: 768px) and (max-height: 860px) {
            margin-bottom: 10px;
            
        }
    }

    nav {

        @media (max-width: 768px) and (max-height: 860px) {
            height: 100%;
            max-height: 310px;
        }
        
        .header-container {
            align-items: center;
            height: 100%;
            text-align: center;
            min-height: 200px;

            @media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
                height: 50vh;
                min-height: 400px;
                min-width: 100%;
                width: 30%;
                align-items: center;
            }

            .nav-links {
                display: flex;
                flex-direction: column;
                align-items: center;

                .button {
                    position: relative;
                    display: block;
                    color: black;
                    text-shadow: 0px 1px 0px #000;
                    font-family: $font-morris-roman-black;
                    font-weight: bold;
                    font-size: 30px;
                    text-align: center;
                    text-decoration: none;
                    background-color: #7189ac;
                    width: 70%;
                    padding: 15px;
                    margin: 1.5rem;
                    cursor: pointer;

                    @media (min-width: 768px) and (max-width: 1920px) and (max-height: 860px) {
                        margin: 10px;
                    }

                    @media (max-width: 768px) and (max-height: 860px) {
                        margin: 10px;
                    }

                    @media (max-width: 768px) and (max-height: 860px) {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: #4f71a2;
                    }

                    &:active {
                        top: 10px;
                        background-color: #4f71a2;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        padding: 4px;
                        bottom: -15px;
                        left: -4px;
                        z-index: -1;
                    }
                }
            }
        }
    }
}