.panneau-lateral {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 150px;

    .contact-logo-container,
    .livre-logo-container {
        cursor: pointer;

        .contact-logo, .livre-logo {
            width: 100px;
            cursor: pointer;

            &:hover {
                animation: none;
            }

            @media (max-width: 768px) and (max-height: 860px) {
                width: 60px;
            }
        }

        .contact-logo {
            animation: shake 7s infinite;
        }
    }

    @media (max-width: 768px) {
        flex-direction: row;
        justify-content: center;
        width: 92%;
        box-sizing: border-box;
        gap: 100px;
        position: fixed;
        bottom: -30%;

        .contact-logo, .livre-logo {
            animation: none;
        }
    }

    @media (max-width: 768px) and (max-height: 860px) {
        gap: 50px;
        
    }
}
