.quetes-container {
    display: flex;
    height: 600px;

    @media (max-width: 1100px) {
        width: 70%;
        margin: auto;
    }

    @media (max-width: 768px) {
        justify-content: inherit;
        flex-direction: column;
        width: inherit;
        height: 100%;
        margin: auto;
    }

    .quetes-liste {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background: rgb(79, 113, 162);
        background: linear-gradient(90deg, rgba(79, 113, 162, 0.6) 0%, rgba(18, 86, 190, 0.6) 50%, rgba(29, 52, 89, 0.6) 100%);
        border: solid 2px white;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
        animation: WhitePulse 2s infinite;
        border-radius: 20px;
        width: 300px;
        height: 100%;

        @media (max-width: 768px) {
            margin: auto;
        }

        .selecteur {
            position: absolute;
            width: 30px;
            right: 185px;
            top: 10px;
        }

        p {
            font-family: $font-morris-roman-black;
            font-weight: bold;
            font-size: 30px;
            margin-top: 10px;
            color: #FCDC12;
        }

        .separateur-quetes {
            height: 15px;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-bottom: 0;
            }
        }

        ul {
            list-style: none;

            @media (max-width: 768px) {
                margin-bottom: 20px;
                max-height: 150px;
                overflow-y: auto;
            }

            li {
                position: relative;
                font-family: "Press Start 2P", cursive;
                color: white;
                font-size: 20px;
                margin-top: 10px;
                cursor: pointer;

                @media (max-width: 768px) {
                    overflow: scroll;
                    padding-left: 40px;
                }

                &:hover {
                    color: #FCDC12;
                }

                &:checked {
                    text-decoration: underline;
                }
            }

        }
    }

    .quetes-contenu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(2, 0, 36, 0.5);
        background: linear-gradient(90deg, rgb(26, 55, 161, 0.6) 0%, rgba(0, 212, 255, 0.6) 0%, rgba(13, 61, 236, 0.6) 100%);
        border-right: 2px solid;
        backdrop-filter: blur(3px);
        border-bottom: 2px solid;
        border-left: none;
        border-radius: 0px 20px 20px 0;
        height: 85%;
        width: 750px;
        padding: 10px;
        align-self: center;
        margin-left: -2px;

        @media (max-width: 768px) {
            width: 100%;
            border-radius: 20px;
        }

        .animate {
            animation: apparitionTexte 2s ease;
        }

        p {
            color: white;
            font-size: 22px;

            @media (max-width: 1100px) {
                font-size: 18px;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }

        span {
            position: relative;
            font-size: 19px;
            font-family: "Press Start 2P", cursive;
            font-weight: bold;
            color: #FCDC12;

            @media (max-width: 768px) {
                font-size: 17px;
            }

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                background-color: #FCDC12;
                width: 96%;
                height: 1px;
            }
        }

        a {
            color: white;
        }

        .quest-complete {
            position: fixed;
            border: dashed 4px;
            border-radius: 50%;
            color: rgb(58, 232, 72);
            width: 100px;
            text-align: center;
            padding: 12px;
            right: 50px;
            top: 260px;
            font-weight: bold;
            transform: rotate(-15deg);
        }
    }


    .quetes-images {
        display: flex;
        justify-content: space-around;

        img {
            width: 80px;
            height: 80px;
            transition: transform 0.5s ease;
            border: solid 1px black;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.797);
            border-radius: 5px;
            cursor: zoom-in;

            &:active {
                width: auto;
                transform: scale(7) translateY(-40%);
                cursor: zoom-out;
                z-index: 1;

                @media screen and (orientation: landscape) and (max-device-width: 1210px) {
                    &:nth-child(3){

                        transform: scale(3.5) translate(-10%);
                    }

                    &:nth-last-child(-n + 2) {
                        transform: scale(3.5) translate(-30%);
                    }

                    &:nth-child(-n + 2) {
                        transform: scale(3.5) translate(15%);
                    }
                }

                @media (max-width: 1100px) {

                    &:nth-child(3){

                        transform: scale(4.5) translate(-10%);
                    }

                    &:nth-last-child(-n + 2) {
                        transform: scale(4) translate(-30%);
                    }

                    &:nth-child(-n + 2) {
                        transform: scale(4) translate(15%);
                    }

                }

                @media (max-width: 768px) {
                    width: 80px;
                    &:nth-child(3){

                        transform: scale(4.5) translate(-10%);
                    }

                    &:nth-last-child(-n + 2) {
                        transform: scale(4) translate(-30%);
                    }

                    &:nth-child(-n + 2) {
                        transform: scale(4) translate(30%);
                    }

                }
            }
        }
    }
}