.rating {
    display: flex;
    width: 180px;
    margin-top: 6px;
    gap: 15px;
    
    .star {
        height: 24px;
        width: 24px;
    }

    .star-inactive{
        filter: contrast(0);
        opacity: 0.3;
    }
}